header {
    background-color: #2b5e7a;
    padding: 1%;
    position: relative;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

#header-image {
    width: 20%;

}

.upper-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3%;
}

.upper-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 90%;
}

img.center {        
    display:block;
    margin-left:auto;
    margin-right:auto;
  }